.block:hover {
    cursor: pointer;
    background-color: rgb(247, 70, 70);
}

.block {
    opacity: 2%;
}

.unblock:hover {
    cursor: pointer;
    background-color: rgb(60, 255, 0);
}

.unblock {
    opacity: 10%;
}

.fieldButtons:hover {
    cursor: pointer;
    color: rgb(60, 255, 0);
}

.activeStage {
    color: black;
}

.otherStage {
    color: rgba(73, 73, 73, 0.295);
    transition: all .4s;
}

.otherStage:hover {
    cursor: pointer;
    color: rgb(60, 255, 0);
}

.startfield {
    background-color: rgb(60, 255, 0);
}